body{
    font-family: 'Inter', sans-serif;
    margin: 0px;
}

.Desktop{
    width: 1076px;
    margin: 46px auto;
}

.circle {
    width: 679px;
    height: 679px;
    border-radius: 50%;
    background: url("circle.svg") no-repeat center center;
    background-size: 679px 679px;
    position: absolute;
    top: -324px;
    left: -221px;
}

.NavBar{
    display: flex;
    align-items: center;
    gap: 504px;
    height: 24px;
}

a{
    text-decoration: none;
}

.b1{
    display: flex;
    gap: 44px;
}

li{
    list-style-type: none;
}

.logo{
    white-space: nowrap;
    font-size: 20px;
    color: #272D38;
    font-weight: 700;
}

.Text{
    font-size: 18px;
    color: #272D38;
    font-weight: 400;
}

.HeroSection{
    display:flex;
    gap: 75px;
    width: 1065px;
}

.Block1Image{
    margin-top: 97px;
}
.Block1{
    margin: 141px 0 0 0;
}
.Bloc1kBox1{
    margin: 0px;
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
}

.Block1Box2{
    margin: 24px 0 0 0;
    font-weight: 400;
    font-size: 18px;
    padding: 0px;
    line-height: 28px;
}

.ContactButton{
    margin-top: 49px;
    background-color: #8EADD5;
    border-radius: 8px;
    width: 167px;
    height: 48px;
   border: 0px;
   padding: 0px;
}

.ContactButtonText{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.trusted{
    width: 227px;
    margin:157px auto 0;
}

.CompaniesSection{
    width: 915px;
    margin: 16px auto 0;
}