/* body{
}
 */

.NavBar{
    display: flex;
    margin: 46px auto;
    align-items: center;
    gap: 504.81px
}

a{
    text-decoration: none;
}

.b1{
    display: flex;
    gap: 44px;
}

li{
    list-style-type: none;
}

.logo{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #272D38;
    font-weight: 700;
}

.Text{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #272D38;
    font-weight: 400;
}
